.banner-swiper .swiper-button-next,
    .banner-swiper .swiper-button-prev {
        color: white; 
    }
    .banner-swiper .swiper-button-next {
        right: 160px; 
    }

    .banner-swiper .swiper-button-prev {
        left: 160px; 
    }

    .banner-swiper .swiper-pagination-bullet {
        background: lightgray; 
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    .banner-swiper .swiper-pagination-bullet-active {
        background: #E71A0F; 
    }

    .home-selection {
            .swiper-button-next,
            .swiper-button-prev {
                position: absolute;
                top: 50%;
                width: 50px;
                height: 50px;
                margin-top: -25px;
                z-index: 2; 
                background-color: #E71A0F; 
                border-radius: 50%; 
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }

            .swiper-button-next {
                right: -1px; 
            }

            .swiper-button-prev {
                left: -1px; 
            }
    }
    
    @media screen and (max-width: 768px) {
        .banner-swiper .swiper-button-next,
        .banner-swiper .swiper-button-prev {
          display: none;
        }
      }
